@media(max-width: 768px) {

    .caixa{
        width: 103%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu {
        display: none;
    }
    
    .caixa-principal {
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }

    .caixa-perfil {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .nome {
        font-size: 29px;
    }

     .titulo-perfil {
        font-size: 20px;
    }

    .minha-foto {
        height: 250px;
    }

    header {
        width: 100%;
        display: flex;
        justify-items: center;
    }

    header h1 {
        font-size: 25px;
        text-align: center;
    }

    .caixa-secundaria {
        width: 115%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .sobre {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        

    }

    .caixa-sobre {
        width: 195%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .caixaSobre{
        width: 110%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        
    }

    .caixaSobre h1 {
        margin-left: 0;
        margin-right: 0;
        font-size: 25px ;
    }

    .caixaSobre p {
        margin-top: 10px;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
    }

    .icones {
        display: flex;
        justify-content: center;
        margin-top: -60px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        
        
        
        
    }

    .icones i {
        font-size: 50px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        
    }
    

    .java {
        
        
        margin-top: 90px;
        margin-left: -90px;
        margin-right: 0;
        margin-bottom: 0;
        
        
    }

    .contatos i  {
        font-size: 35px ;
    }

    .terceira-caixa {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .terceira-caixa h1 {
        font-size: 20px;

    }

    .meus-projetos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .re4 {
        width: 300px;
    }

    .pokemon {
        width: 300px;

    }

    .mario {
        width: 300px;

    }

    .five-nights-at-freddys {
        width: 300px;

    }

    .starbucks {
        width: 300px;

    }

    .spotify {
        width: 300px;

    }

    .olimpiadas {
        width: 300px;

    }

    .previsao-tempo {
        width: 300px;

    }

    .quarta-caixa {
        width: 100%;
        margin-top: 1100px;

    }

    .contato {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .contato h1 {
        font-size: 20px;

    }

    .form-contato input {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 10px;
        width: 10px;
    }

    .form-contato textarea {
        width: 10px;

    }

    .form-contato button {
        width: 10px;
    }


    

}