@media(max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
    }

    .caixa{
        width: 100%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu {
        display: none;
    }
    
    .caixa-principal {
        display: block;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        
    }

    .caixa-perfil {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .nome {
        font-size: 49px;
    }

     .titulo-perfil {
        font-size: 30px;
    }

    .minha-foto {
        margin-top: 30px;
        height: 300px;
    }

    header {
        width: 100%;
        display: flex;
        justify-items: center;
    }

    header h1 {
        font-size: 25px;
        text-align: center;
    }

    .caixa-secundaria {
        margin-top: 100px;
        padding: 0;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    

    .caixa-sobre {
        

        background-color: antiquewhite ;
        width: 90%;
        margin-left: 0;
        height: 70%;
        display: flex;
        justify-content: center;
        
        flex-direction: column;
        text-align: center;
        
    }

    .caixa-sobre h1 {
        margin-left: 0;
        margin-top: 1px;
        font-size: 35px;
    }

    .caixa-sobre p {
        margin-top: 35px;
        font-size: 20px;
    }

    .contatos {
        margin-top: 20px;
    }

    

    

    

    .icones {
        display: flex;
        justify-self: center;
        margin-top: -10px;
        
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        
        
        
        
    }

    .icones i {
        font-size: 50px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        
    }
    

    .java {
        
        
        margin-top: 90px;
        margin-left: -90px;
        margin-right: 0;
        margin-bottom: 0;
        
        
    }

        
    

    

    


    

}